<div class="glassBox" *ngIf="pokemon != undefined">
  <div>
    <div id="card">
      <span class="Card-id">{{pokemon.id}}</span>
      <h3 class="glassBox__title">{{pokemon.name}}</h3>
      <div  class="glassBox__imgBox">
          <img [src]="pokemon.sprites.other.home.front_shiny" alt="Pokemon" class="card-logo">
      </div>
      <a (click)="remove()">
        <button mat-button class="mat-button">Delete pokemon <mat-icon>delete_forever</mat-icon></button>
      </a>
    </div>
  </div>
</div>
