// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Roboto&display=swap');

$blue-accent: #1a8fbd;
$blue-accent-hover: #097fc4;


.mat-button {
  padding: 0 15px 0 15px;
  border-radius: 30px;
  margin: 10px;
}

::ng-deep .mat-button-a{
  background-color: #1a8fbd00 !important;

}

.mat-icon{
  display: inline-block;
  max-width: 38px;
  max-height: 38px;
  margin: 15px;
}


.glassBox {
  &, & * { box-sizing: border-box; transition: 400ms; }
  display: inline-block;
  margin: 29px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  max-width: fit-content;
  background: rgba(255, 255, 255, 0.808);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  &__imgBox {
    img {
      width: 165px;
      padding: 22px;
    }
  }
  &__title {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
  }
  &__content {
    position: absolute;
    right: 15px; bottom: 15px; left: 15px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: .1em;
    opacity: 0;
  }
  &:hover &__imgBox {
    cursor: pointer;
    transform: translateY(30px);
  }
  &:hover &__imgBox img {
    cursor: pointer;
    transform: translate(-10px, -50px) rotate(-0deg) scale(1.6);
  }

  .card-head {
    height: 150px;
    width: 100%;
    padding-bottom: 100px;
    background: #5e9fb9;
    border-radius: 20px 20px 0 0;
  }
}

.glassBox:hover{
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px);
}

.Card-id {
  background: #008ead;
  width: 3rem;
  height: 1.5rem;
  color: #fff;
  font-size: 18px;
  padding: 2px;
  font-weight: 600;
  position: absolute;
  border-radius: 20px 0px 10px 5px;
  top: 0;
  left: 0;
}

.container{
  text-align: center;
}

#card{
  background: radial-gradient(circle at 50% -15%, #53b4c7 45%, #ffffff 0%);
  padding: 20px 20px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.15);
  border-radius: 20px;
}







