
<div class="container" *ngIf="pokemons != undefined">
  <div class="glassBox" *ngFor="let pokemon of pokemons">
    <div>
      <h3 class="glassBox__title">Information about {{pokemon.name}}</h3>
      <div class="d-table">
        <div class="d-table-cell align-left">
          <div  class="glassBox__imgBox">
            <img [src]="pokemon.sprites.other.home.front_shiny" alt="Pokemon">
          </div>
        </div>

        <div class="align-right">
          <mat-card class="mat-card">
            <p class="p-format">Name: {{pokemon.name}}</p>
            <p class="p-format">Forms: {{pokemon.forms[0].name}}</p>
            <p class="p-format">Species: {{pokemon.species.name}}</p>
            <p class="p-format">Weight: {{pokemon.weight}} kg</p>
            <p class="p-format">Height: {{pokemon.height}} m</p>
          </mat-card>
        </div>

        <div class="align-right">
          <mat-card class="mat-card">
            <h2 class="h2-title">Abilities:</h2>
            <mat-chip-list class="mat-chip-list" *ngFor="let ability of pokemon.abilities; let i = index">
              <mat-chip>{{pokemon.abilities[i].ability.name}}</mat-chip>
            </mat-chip-list>
            <h2 class="h2-title">Type:</h2>
            <mat-chip-list *ngFor="let type of pokemon.types; let i = index">
              <mat-chip>{{pokemon.types[i].type.name}}</mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
      </div>

      <a routerLink="/favorites" *ngIf="add != false" (click)="save()">
        <button mat-button class="mat-button">save pokemon <mat-icon>favorite</mat-icon></button>
      </a>
    </div>
    <div class="align-right">
      <mat-card class="mat-card" *ngFor="let specie of species">
        <p class="description">{{specie.flavor_text_entries[8].flavor_text}}</p>
        <p class="description">{{specie.flavor_text_entries[10].flavor_text}}</p>
        <p class="description">{{specie.flavor_text_entries[11].flavor_text}}</p>
      </mat-card>
    </div>
  </div>
</div>

