// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Roboto&display=swap');

$blue-accent: #1a8fbd;
$blue-accent-hover: #097fc4;


.d-table {
  display: table;
  width: 100%;
  text-transform: lowercase;

}

.d-table-cell {
  display: table-cell;
  vertical-align: middle;

}

.align-left {
  text-align: left;
  display: inline-flex;

}

.align-right {
  text-align: right;
  display: inline-flex;
}



::ng-deep .mat-button-a{
  background-color: #1a8fbd00 !important;

}

.mat-card{
  display: flexbox;
  margin: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  max-width: 100%;
  background: #ffffff85;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-align: left;
}


.mat-card:hover{
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-15px);
}

.p-format{
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  vertical-align: middle;
  padding-right: 100px;
}

.h2-title{
  text-align: left;
  font-weight: bold;
  font-size: medium;
  text-transform: capitalize;
  color: #006176;
}


.mat-button {
  padding: 0px 15px 0px 15px !important;
  border-radius: 30px;
  margin: 10px;
}

.mat-chip-list{
  display: inline-block;
  margin: 5px;
}


.glassBox {
  &, & * { box-sizing: border-box; transition: 400ms; }
  display: flexbox;
  margin: 29px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  max-width: fit-content;
  background: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  &__imgBox {
    img {
      width: 205px;
      padding: 22px;
      vertical-align: middle;
    }
  }
  &__title {
    text-align: left;
    margin: 15px;
    color: #006176;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
  }

  &__content {
    right: 15px; bottom: 15px; left: 15px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: .1em;
    opacity: 0;
  }
  &:hover &__imgBox {
    transform: translateY(30px);
  }
  &:hover &__imgBox img {
    transform: translate(-20px, -40px) rotate(-10deg) scale(1.5);
  }
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.mat-chip{
  padding: 14px;
  background-color: #53b4c7;
  color: #FFF;
  text-transform: capitalize;
}

.types {
  display: inline-flex;
  margin: 15px 10px 5px 0px;
  padding: 5px 10px;
  text-shadow: black 1px 1px 1px;
  border-radius: 10px;
  font-size: 15px;
}

.description{
  text-align: left;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}
