.favorite{
  width: 100%;
  height: 100%;
}

.mat-card{
  display: flexbox;
  margin: 25px;
  width: 150px;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  background: #ffffff85;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.glassBox {
  &, & * { box-sizing: border-box; transition: 400ms;  display: inline-block;}
  display: inline-block;
  margin: 29px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  max-width: fit-content;
  background: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  &__imgBox {
    img {
      width: 165px;
      padding: 22px;
    }
  }
  &__title {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
  }
  &__content {
    position: absolute;
    right: 15px; bottom: 15px; left: 15px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: .1em;
    opacity: 0;
  }
  &:hover &__imgBox {
    transform: translateY(30px);
  }
  &:hover &__imgBox img {
    transform: translate(-10px, -50px) rotate(-0deg) scale(1.6);
  }

}

.card-title {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #53b4c7;
  padding: 2%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.pokemon{
  justify-content: center;
  width: 23rem;
}

.h1{
  margin-top: 15px;
  color: #006176;
  font-size: 25pt;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.h2{
  text-align: center;
  color: #006176;
  font-size: 15pt;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.mat-icon{
  width: 25%;
  height: 25%;
  font-size: 55px;
}
