<div class="container">
  <div class="glassBox">
    <h2 class="card-title">FAVORITE POKEMON LIST</h2>
    <div *ngIf="pokemons != undefined">
      <div *ngFor="let pokemon of pokemons">
        <app-pokemon-card [id]="pokemon.id" (refresh)="getSavedPokemons()"></app-pokemon-card>
      </div>
    </div>

    <div *ngIf="pokemons.length == 0">
        <h2 class="h2">You don't have any favorite pokemon yet! <mat-icon class="mat-icon">sentiment_dissatisfied</mat-icon></h2>
    </div>

  </div>
</div>


